body{
  margin:0;
}

.background{
  width:100%;
  background-color:#B8F5FA;
}

.hero-heading{
  margin-bottom:0px;
  text-align:center;
  color:#55B8FA;
  font-size: 5rem;
  font-family:"Sacramento",cursive, sans-serif;
}

.hero-subheading{
  margin-top: 0px;
  text-align:center;
  font-size: 3.3rem;
  color:#8AB3FA;
  font-family:Raleway, sans-serif;
}

img{
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-top:20px;
}

.wrench-icon{
  margin-right: 20px;
}

.code-icon{
  margin-left : 20px;
}

.hero-images-flexbox{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}

ul.header-nav-list{
  list-style:none;
  display:flex;
  width:100%;
  flex-direction:row;
  justify-content: space-between;
}

li{
  font-size: 20px;
}

a {
  text-decoration:none;
  color:black;
}

a:hover{
  color:#FAD4B9;
}

.header-nav-hero{
  margin-left: -8rem;
  border-right: 2px black solid;
  padding-right: 5rem;
}

.header-nav-My-Skills{
  margin-left: 2rem;
}

.zaid-intro-flexbox{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap: 1rem;
}

.zaid-profile{
  margin-top: 6rem;
  width:200px;
  height:200px;
  border-radius:20rem;
}

.hello{
  margin-top:1.8rem;
  font-size:3rem;
  font-family:"montserrat", sans-serif;
  font-weight:lighter;
  color:#8AB3FA;
  margin-bottom: 1.5rem;
}

p {
  margin-top:0px;
  text-align: center;
  font-size: large;
  font-family:"Merriweather", serif;
  color:#40514e;
}

.my-skills-heading{
  margin-top:7rem;
  font-family:"Montserrat", sans-serif;
  font-size: 2.5em;
  text-align: center;
  color:#66bfbf;
}

.my-skills-flexbox{
  align-items:center;
  display: flex;
  flex-direction: column;
}

p.para{
  margin-top:0rem;
  margin-right: 45%;
  margin-left: 0px;
  text-align:left;
}

img.skill1-img{
  width: 300px;
  height: 300px;
  margin-left: 25%;
  margin-right:0px;
}

.skill1-flexbox{
  display: flex;
  flex-direction: row;
}

.skill1-flexbox > div > h3{
  margin-top:5rem;
  font-size:large;
  font-family:"Montserrat", sans-serif;
  color:#11999e;
}

.skill2-flexbox > img{
  width: 250px;
  height: 250px;
  margin-left: 25%;
  margin-right:0px;
}

.skill2-flexbox{
  display: flex;
  flex-direction: row;
}

.skill2-flexbox > div > p{ 
  margin-top:0rem;
  margin-right: 40%;
  margin-left: 28px;
  text-align:left;
}

.skill2-flexbox > div > h3{
  margin-top:5rem;
  margin-left:28px;
  font-size:large;
  font-family:"Montserrat", sans-serif;
  color:#11999e;
}

.contact-me-flexbox{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.contact-me-flexbox > h1{
  font-family:"Montserrat", sans-serif;
  color:#66bfbf;
  font-size:2.5rem;
}

.contact-me-flexbox > h2{
  font-family:"Montserrat", sans-serif;
  color:#11999e;
  font-size:1.17rem;
}


.contact-me-flexbox > p{
  font-family:"Montserrat", sans-serif;
  font-size:1.17rem;
  width: 45%;
}


.contact-me-flexbox > a{
  font-family:"Montserrat", sans-serif;
  background-color:#30e3cb;
  color: white;
  border-radius: 0.5rem;
  font-size:2rem;
  width: 14rem;
  height: 2.2rem;
  padding-top: 8px;
  padding-left: 15px;
  padding-bottom:8px;
}

.contact-me-flexbox > a:hover{
  background-color:lightblue;
}


.footer-flexbox{
  display:flex;
  flex-direction:column;
  align-items: center;
  background-color: #66bfbf;
  margin-top:5rem;
}

.nav-footer{
  margin-top: 14%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-family:"Montserrat", sans-serif;
}


.footer-flexbox > h7{
  font-size:1rem;
  color:white;
  margin-top: 1.5rem;
}

.nav-footer a{
  color: #11999e;
  font-size:medium;
}

.nav-footer a:hover{
  color: white;
}

ol{
  list-style:none;
}

















